# üè• An√°lise Lixo Hospitalar

## üìö Importando bibliotecas que ser√£o utilizadas

In [49]:
import glob
import pandas as pd

## üìñ Lendo o arquivo csv
- Importa√ß√£o e leitura do arquivo

In [50]:
HOSPITAL_TRASH_RECORD_FEBRUARY_DATA_PATH = 'data/2022/02 2022 FEVEREIRO REGISTRO DI¬µRIO DE LIXO.xlsx - 01.02.2022.csv'
hospital_trash_february_df = pd.read_csv(HOSPITAL_TRASH_RECORD_FEBRUARY_DATA_PATH)
hospital_trash_february_df

,CONTROLE DI√ÅRIO DE PRODU√á√ÉO DE LIXO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1/1/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RESPONS√ÅVEL PELA PESAGEM,NaN,NaN,NaN,NaN
1,SETOR,KG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,CLASSE D,NaN,NaN,NaN,NaN,NaN,NaN,CLASSE A (INFECTANTE),NaN,CLASSE E (PERFURO CORTANTE),NaN,CLASSE B (MEDICAMENTOS)
3,NaN,N√ÉO RECICL√ÅVEL,NaN,NaN,NaN,RECICL√ÅVEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NUTRI√á√ÉO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ADM,24.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AMBULAT√ìRIO,139.18,NaN,NaN,NaN,NaN,NaN,NaN,27.90,NaN,NaN,NaN,NaN
7,FARM√ÅCIA,30.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CME,27.13,NaN,NaN,NaN,NaN,NaN,NaN,0.55,NaN,NaN,NaN,NaN
9,CECAE,24.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,CEROF,12.80,NaN,NaN,NaN,NaN,NaN,NaN,0.35,NaN,NaN,NaN,NaN
11,PEDIATRIA,31.90,NaN,NaN,NaN,NaN,NaN,NaN,0.90,NaN,NaN,NaN,NaN
12,DIP,25.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CCA,29.30,NaN,NaN,NaN,NaN,NaN,NaN,3.80,NaN,NaN,NaN,NaN
14,CMA,36.40,NaN,NaN,NaN,NaN,NaN,NaN,11.55,NaN,NaN,NaN,NaN
15,CMB,28.18,NaN,NaN,NaN,NaN,NaN,NaN,18.50,NaN,NaN,NaN,NaN
16,PATOLOGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.60,NaN,NaN,NaN,NaN
17,√ÅREAS,34.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,BLOCO,59.61,NaN,NaN,NaN,NaN,NaN,NaN,34.25,NaN,NaN,NaN,NaN
19,UTI,68.50,NaN,NaN,NaN,NaN,NaN,NaN,10.05,NaN,NaN,NaN,NaN
20,NOTURNO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.80,NaN,NaN,NaN,NaN
21,SAE,8.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,TOTAL,580.61,NaN,NaN,NaN,-,NaN,NaN,144.25,NaN,-,NaN,-

## ü´ß Limpeza dos Dados
1. Organiza√ß√£o de colunas 
2. Tratamento de dados ausentes 
3. Corre√ß√£o de tipos de dados

### 1. Organiza√ß√£o de colunas
- Deletar as 4 primeiras linhas do dataframe que n√£o correspondem as colunas
- Renomear colunas para nomes descritivos

In [51]:
hospital_trash_february_df = pd.read_csv(HOSPITAL_TRASH_RECORD_FEBRUARY_DATA_PATH, skiprows=[0, 1, 2 ,3])
hospital_trash_february_df.columns = ['SETOR',
                              'Classe_D-Nao_Reciclavel','Classe_D-Nao_Reciclavel', 'Classe_D-Nao_Reciclavel', 'Classe_D-Nao_Reciclavel',
                              'Classe_D-Reciclavel','Classe_D-Reciclavel','Classe_D-Reciclavel', 
                              'Classe_A (Infectante)', 'Classe_A (Infectante)', 
                              'Classe_E (Perfuro_Cortante)', 'Classe_E (Perfuro_Cortante)', 
                              'Classe_B (Medicamentos)']
hospital_trash_february_df

,SETOR,Classe_D-Nao_Reciclavel,Classe_D-Nao_Reciclavel,Classe_D-Nao_Reciclavel,Classe_D-Nao_Reciclavel,Classe_D-Reciclavel,Classe_D-Reciclavel,Classe_D-Reciclavel,Classe_A (Infectante),Classe_A (Infectante),Classe_E (Perfuro_Cortante),Classe_E (Perfuro_Cortante),Classe_B (Medicamentos)
0,NUTRI√á√ÉO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADM,24.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AMBULAT√ìRIO,139.18,NaN,NaN,NaN,NaN,NaN,NaN,27.90,NaN,NaN,NaN,NaN
3,FARM√ÅCIA,30.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CME,27.13,NaN,NaN,NaN,NaN,NaN,NaN,0.55,NaN,NaN,NaN,NaN
5,CECAE,24.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CEROF,12.80,NaN,NaN,NaN,NaN,NaN,NaN,0.35,NaN,NaN,NaN,NaN
7,PEDIATRIA,31.90,NaN,NaN,NaN,NaN,NaN,NaN,0.90,NaN,NaN,NaN,NaN
8,DIP,25.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,CCA,29.30,NaN,NaN,NaN,NaN,NaN,NaN,3.80,NaN,NaN,NaN,NaN
10,CMA,36.40,NaN,NaN,NaN,NaN,NaN,NaN,11.55,NaN,NaN,NaN,NaN
11,CMB,28.18,NaN,NaN,NaN,NaN,NaN,NaN,18.50,NaN,NaN,NaN,NaN
12,PATOLOGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.60,NaN,NaN,NaN,NaN
13,√ÅREAS,34.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,BLOCO,59.61,NaN,NaN,NaN,NaN,NaN,NaN,34.25,NaN,NaN,NaN,NaN
15,UTI,68.50,NaN,NaN,NaN,NaN,NaN,NaN,10.05,NaN,NaN,NaN,NaN
16,NOTURNO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.80,NaN,NaN,NaN,NaN
17,SAE,8.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,TOTAL,580.61,NaN,NaN,NaN,-,NaN,NaN,144.25,NaN,-,NaN,-

### 2. Tratamento de Dados Ausentes
- Identificar dados ausentes

In [52]:
hospital_trash_february_df.isnull().sum()

SETOR                           0
Classe_D-Nao_Reciclavel         3
Classe_D-Nao_Reciclavel        19
Classe_D-Nao_Reciclavel        19
Classe_D-Nao_Reciclavel        19
Classe_D-Reciclavel            18
Classe_D-Reciclavel            19
Classe_D-Reciclavel            19
Classe_A (Infectante)           7
Classe_A (Infectante)          19
Classe_E (Perfuro_Cortante)    18
Classe_E (Perfuro_Cortante)    19
Classe_B (Medicamentos)        18
dtype: int64

In [53]:
hospital_trash_february_df.isnull()

,SETOR,Classe_D-Nao_Reciclavel,Classe_D-Nao_Reciclavel,Classe_D-Nao_Reciclavel,Classe_D-Nao_Reciclavel,Classe_D-Reciclavel,Classe_D-Reciclavel,Classe_D-Reciclavel,Classe_A (Infectante),Classe_A (Infectante),Classe_E (Perfuro_Cortante),Classe_E (Perfuro_Cortante),Classe_B (Medicamentos)
0,False,True,True,True,True,True,True,True,True,True,True,True,True
1,False,False,True,True,True,True,True,True,True,True,True,True,True
2,False,False,True,True,True,True,True,True,False,True,True,True,True
3,False,False,True,True,True,True,True,True,True,True,True,True,True
4,False,False,True,True,True,True,True,True,False,True,True,True,True
5,False,False,True,True,True,True,True,True,True,True,True,True,True
6,False,False,True,True,True,True,True,True,False,True,True,True,True
7,False,False,True,True,True,True,True,True,False,True,True,True,True
8,False,False,True,True,True,True,True,True,True,True,True,True,True
9,False,False,True,True,True,True,True,True,False,True,True,True,True
10,False,False,True,True,True,True,True,True,False,True,True,True,True
11,False,False,True,True,True,True,True,True,False,True,True,True,True
12,False,True,True,True,True,True,True,True,False,True,True,True,True
13,False,False,True,True,True,True,True,True,True,True,True,True,True
14,False,False,True,True,True,True,True,True,False,True,True,True,True
15,False,False,True,True,True,True,True,True,False,True,True,True,True
16,False,True,True,True,True,True,True,True,False,True,True,True,True
17,False,False,True,True,True,True,True,True,True,True,True,True,True
18,False,False,True,True,True,False,True,True,False,True,False,True,False

### 3. Corre√ß√£o de Tipos de Dados
- Identificar o tipo de dados de cada coluna

In [54]:
hospital_trash_february_df.dtypes

SETOR                           object
Classe_D-Nao_Reciclavel        float64
Classe_D-Nao_Reciclavel        float64
Classe_D-Nao_Reciclavel        float64
Classe_D-Nao_Reciclavel        float64
Classe_D-Reciclavel             object
Classe_D-Reciclavel            float64
Classe_D-Reciclavel            float64
Classe_A (Infectante)          float64
Classe_A (Infectante)          float64
Classe_E (Perfuro_Cortante)     object
Classe_E (Perfuro_Cortante)    float64
Classe_B (Medicamentos)         object
dtype: object

## ‚úèÔ∏è Manipula√ß√£o de Dados
- Concatena√ß√£o para um dataframe

In [55]:
hospital_trash_2022_df = pd.concat(map(pd.read_csv, glob.glob('data/2022/*.csv')), keys=['Fevereiro', 'Mar√ßo', 'Abril', 'Agosto', 'Julho', 'Junho', 'Maio', 'Outubro', 'Setembro', 'Dezembro'], verify_integrity=True)
hospital_trash_2022_df

             CONTROLE DI√ÅRIO DE PRODU√á√ÉO DE LIXO      Unnamed: 1  Unnamed: 2  \
Fevereiro 0                             1/1/2022             NaN         NaN
          1                                SETOR              KG         NaN
          2                                  NaN        CLASSE D         NaN
          3                                  NaN  N√ÉO RECICL√ÅVEL         NaN
          4                            NUTRI√á√ÉO              NaN         NaN
...                                          ...             ...         ...
Dezembro  21                                 NaN             NaN         NaN
          22                                 NaN             NaN         NaN
          23                                 NaN             NaN         NaN
          24                                 NaN             NaN         NaN
          25                               TOTAL         529.59          NaN

              Unnamed: 3  Unnamed: 4  Unnamed: 5 Unnamed: 6  Unnamed: 7  \
Fevereiro 0          NaN         NaN         NaN        NaN         NaN
          1          NaN         NaN         NaN        NaN         NaN
          2          NaN         NaN         NaN        NaN         NaN
          3          NaN         NaN  RECICL√ÅVEL        NaN         NaN
          4          NaN         NaN         NaN        NaN         NaN
...                  ...         ...         ...        ...         ...
Dezembro  21         NaN         NaN         NaN        NaN         NaN
          22         NaN         NaN         NaN        NaN         NaN
          23         NaN         NaN         NaN        NaN         NaN
          24         NaN         NaN         NaN        NaN         NaN
          25         NaN         NaN         NaN     36.15          NaN

                             Unnamed: 8  Unnamed: 9  \
Fevereiro 0   RESPONS√ÅVEL PELA PESAGEM          NaN
          1                         NaN         NaN
          2       CLASSE A (INFECTANTE)         NaN
          3                         NaN         NaN
          4                         NaN         NaN
...                                 ...         ...
Dezembro  21                        NaN         NaN
          22                        NaN         NaN
          23                        NaN         NaN
          24                        NaN         NaN
          25                    162.15          NaN

                              Unnamed: 10 Unnamed: 11  \
Fevereiro 0                           NaN         NaN
          1                           NaN         NaN
          2   CLASSE E (PERFURO CORTANTE)         NaN
          3                           NaN         NaN
          4                           NaN         NaN
...                                   ...         ...
Dezembro  21                          NaN         NaN
          22                          NaN         NaN
          23                          NaN         NaN
          24                          NaN         NaN
          25                          NaN       5.65

                          Unnamed: 12 Unnamed: 13
Fevereiro 0                       NaN         NaN
          1                       NaN         NaN
          2   CLASSE B (MEDICAMENTOS)         NaN
          3                       NaN         NaN
          4                       NaN         NaN
...                               ...         ...
Dezembro  21                      NaN         NaN
          22                      NaN         NaN
          23                      NaN         NaN
          24                      NaN         NaN
          25                      NaN        -

[241 rows x 14 columns]